{%extends 'base_index.html'%}
{%block title%} Herbarium - Angiosperms {%endblock%}
{%load static%}


{%block content %}

<section >
    <div class="sectheader">
        <h2>Angiosperms Section</h2>

    </div>
<p>

Angiosperms are vascular plants with stems, roots, and leaves. The seeds of the angiosperm are found in a flower. These make up the majority of all plants on earth. The seeds develop inside the plant organs and form fruit. Hence, they are also known as flowering plants.

Angiosperms are the most advanced and beneficial group of plants. They can grow in various habitats as trees, herbs, shrubs, and bushes.
The classification of angiosperms:
<ol>
<li>Monocotyledons</li>
<li>Dicotyledons</li>
</ol>
</p>    
{% for angio in angio_items %}
<div class="card" onclick="enlargeImage(this)">
        <div class="card-image-container">
     
    <img src="{{ angio.image.url }}" alt="{{ angio.name }}">
    </div>

    <div class="card-text">
        <h3>Name: {{ angio.name }}</h3>
        <h3>Family: {{ angio.family }}</h3>
    </div>
</div>
{% endfor %}
  

</section>
<script>
        
    function enlargeImage(selectedCard) {
        const allCards = document.querySelectorAll('.card');
        const overlay = document.getElementById('overlay');
        const enlargedImage = document.getElementById('enlarged-image');

        // Get the image source and set it to the overlay image
        const imageSrc = selectedCard.querySelector('.card-image').src;
        enlargedImage.src = imageSrc;

        // Show the overlay and add blur to the background
        overlay.style.display = 'flex';
        document.body.classList.add('blurred');
        overlay.classList.add('show');
    }

    // Hide the overlay and remove blur when clicking outside the image
    document.getElementById('overlay').addEventListener('click', () => {
        document.getElementById('overlay').style.display = 'none';
        document.body.classList.remove('blurred');
        document.getElementById('overlay').classList.remove('show');
    });
</script>
{%endblock%}