{%extends 'base_index.html'%}
{%block title%} Herbarium - Angiosperms {%endblock%}
{%load static%}


{%block content %}
<style>
    .dropdown-container {
           margin-bottom: 20px;
       }

       .species-list {
           display: none;
           margin-top: 20px;
       }

       .species-list.active {
           display: block;
       }
       .bry-cover {
            background-image: url({% static 'plants/new_images/bryophytes_cover.webp' %});
        }
</style>

<section >
    <div class="sectheader bry-cover">
        <h2>Bryophytes Section</h2>
        <div class="dropdown-container">
            <label for="bryophytes-family">Select Bryophytes Family:</label>
            <select id="bryophytes-family">
                <option value="">--Select a Family--</option>
                <option value="HEPATOPHYTA">HEPATOPHYTA</option>
                <option value="ANTHOCEROPHYTA">ANTHOCEROPHYTA</option>
                <option value="BRYOPHYTA">BRYOPHYTA</option>
            </select>
        </div>
    </div>
<p>
<!-- #information about bryophytes -->
Bryophytes are small, non-vascular plants that are found in moist environments. They are the simplest of all land plants and are believed to be the first plants to have colonized the land. They are also known as the amphibians of the plant kingdom as they require water for sexual reproduction. Bryophytes are divided into three groups: mosses, liverworts, and hornworts. They are found in a variety of habitats, including moist forests, wetlands, and tundra. Bryophytes play an essential role in the ecosystem by providing food and shelter for a variety of animals and by helping to prevent soil erosion. They are also used in traditional medicine and as a source of food and fuel.

</p>
<div id="HEPATOPHYTA" class="species-list">
    <h3>HEPATOPHYTA</h3>
    {% for hepa in hepa_items %}
    <div class="card">
        <img src="{{ hepa.image.url }}" alt="{{ hepa.name }}">
        <div class="card-text">
            <h3>Name: {{ hepa.name }}</h3>
            <h3>Family: {{ hepa.family }}</h3>
            <h4>Locality : {{ hepa.locality }}</h4>
            <h4>Collection No. : {{ hepa.collection_number }}</h4>
            <h4>Collected by : {{ hepa.collector }}</h4>
            <h4>Date : {{ hepa.date }}</h4>
        </div>
    </div>
{% endfor %}
</div>
<div id="ANTHOCEROPHYTA" class="species-list">
    <h3>ANTHOCEROPHYTA</h3>
    {% for antho in antho_items %}
    <div class="card">
        <img src="{{ antho.image.url }}" alt="{{ antho.name }}">
        <div class="card-text">
            <h3>Name: {{ antho.name }}</h3>
            <h3>Family: {{ antho.family }}</h3>
            <h4>Locality : {{ antho.locality }}</h4>
            <h4>Collection No. : {{ antho.collection_number }}</h4>
            <h4>Collected by : {{ antho.collector }}</h4>
            <h4>Date : {{ antho.date }}</h4>
        </div>
    </div>
{% endfor %}
</div>
<div id="BRYOPHYTA" class="species-list">
    <h3>BRYOPHYTA</h3>
    {% for bryo in bryo_items %}
    <div class="card">
        <img src="{{ bryo.image.url }}" alt="{{ bryo.name }}">
        <div class="card-text">
            <h3>Name: {{ bryo.name }}</h3>
            <h3>Family: {{ bryo.family }}</h3>
            <h4>Locality : {{ bryo.locality }}</h4>
            <h4>Collection No. : {{ bryo.collection_number }}</h4>
            <h4>Collected by : {{ bryo.collector }}</h4>
            <h4>Date : {{ bryo.date }}</h4>
        </div>
    </div>
{% endfor %}
</div>

<script>
    document.getElementById('bryophytes-family').addEventListener('change', function() {
            // Hide all species lists
            document.querySelectorAll('.species-list').forEach(function(list) {
                list.classList.remove('active');
            });

            // Show the selected species list, or all if none selected
            var selectedFamily = this.value;
            if (selectedFamily) {
                document.getElementById(selectedFamily).classList.add('active');
            } else {
                document.querySelectorAll('.species-list').forEach(function(list) {
                    list.classList.add('active');
                });
            }
        });

        // Display all species lists by default
        document.querySelectorAll('.species-list').forEach(function(list) {
            list.classList.add('active');
        });
</script>

{%endblock%}