{%extends 'base_index.html'%}
{%block title%} Herbarium - Angiosperms {%endblock%}
{%load static%}


{%block content %}
<style>
    .dicot-cover {
            background-image: url({% static 'plants/new_images/dicot_cover.jpg' %});
        }
</style>

<section >
    <div class="sectheader dicot-cover">
        <h2>Dicotyledons Section</h2>
        <div class="dropdown-container">
            <label for="algae-family">Select Dicotyledons Family:</label>
            <select id="algae-family">
                <option value="">--Select a Family--</option>
                <option value="ACANTHACEAE">ACANTHACEAE</option>
                <option value="ACERACEAE">ACERACEAE</option>
                <option value="AIZOACEAE">AIZOACEAE</option>
                <option value="ALANGIACEAE">ALANGIACEAE</option>
                <option value="AMARANTHACEAE">AMARANTHACEAE</option>
                <option value="ANACARDIACEAE">ANACARDIACEAE</option>
                <option value="ANCISTROCLADACEAE">ANCISTROCLADACEAE</option>
                <option value="ANNONACEAE">ANNONACEAE</option>
                <option value="APIACEAE">APIACEAE</option>
                <option value="APOCYNACEAE">APOCYNACEAE</option>
                <option value="AQUIFOLIACEAE">AQUIFOLIACEAE</option>
                <option value="ARALIACEAE">ARALIACEAE</option>
                <option value="ARISTOLOCHIACEAE">ARISTOLOCHIACEAE</option>
                <option value="ASCLEPIADACEAE">ASCLEPIADACEAE</option>
                <option value="ASTERACEAE">ASTERACEAE</option>
                <option value="BALSAMINACEAE">BALSAMINACEAE</option>
                <option value="BALANOPHORACEAE">BALANOPHORACEAE</option>
                <option value="BASELLACEAE">BASELLACEAE</option>
                <option value="BEGONIACEAE">BEGONIACEAE</option>
                <option value="BERBERIDACEAE">BERBERIDACEAE</option>
                <option value="BETULACEAE">BETULACEAE</option>
                <option value="BIGNONIACEAE">BIGNONIACEAE</option>
                <option value="BISCHOFIACEAE">BISCHOFIACEAE</option>
                <option value="BIXACEAE">BIXACEAE</option>
                <option value="BOMBACACEAE">BOMBACACEAE</option>
                <option value="BORAGINACEAE">BORAGINACEAE</option>
                <option value="BRASSICACEAE">BRASSICACEAE</option>
                <option value="BURSERACEAE">BURSERACEAE</option>
                <option value="BUXACEAE">BUXACEAE</option>
                <option value="CACTACEAE">CACTACEAE</option>
                <option value="CAESALPINACEAE">CAESALPINACEAE</option>
                <option value="CAMPANULACEAE">CAMPANULACEAE</option>
                <option value="CANNABACEAE">CANNABACEAE</option>
                <option value="CAPPARACEAE">CAPPARACEAE</option>
                <option value="CAPRIFOLIACEAE">CAPRIFOLIACEAE</option>
                <option value="CARICACEAE">CARICACEAE</option>
                <option value="CARYOPHYLLACEAE">CARYOPHYLLACEAE</option>
                <option value="CASUARINACEAE">CASUARINACEAE</option>
                <option value="CELASTRACEAE">CELASTRACEAE</option>
                <option value="CERATOPHYLLACEAE">CERATOPHYLLACEAE</option>
                <option value="CHENOPODIACEAE">CHENOPODIACEAE</option>
                <option value="CHLORANTHACEAE">CHLORANTHACEAE</option>
                <option value="CIRCAEASTERACEAE">CIRCAEASTERACEAE</option>
                <option value="CLUSIACEAE">CLUSIACEAE</option>
                <option value="COCHLOSPERMACEAE">COCHLOSPERMACEAE</option>
                <option value="CONVOLVULACEAE">CONVOLVULACEAE</option>
                <option value="COMBRETACEAE">COMBRETACEAE</option>
                <option value="CONNARACEAE">CONNARACEAE</option>
                <option value="CORDIACEAE">CORDIACEAE</option>
                <option value="CRASSULACEAE">CRASSULACEAE</option>
                <option value="CUCURBITACEAE">CUCURBITACEAE</option>
                <option value="CUSCUTACEAE">CUSCUTACEAE</option>
                <option value="DICHAPETALACEAE">DICHAPETALACEAE</option>
                <option value="DIPTEROCARPACEAE">DIPTEROCARPACEAE</option>
                <option value="DROSERACEAE">DROSERACEAE</option>
                <option value="EHRETIACEAE">EHRETIACEAE</option>
                <option value="ELAEOCARPACEAE">ELAEOCARPACEAE</option>
                <option value="ELATINACEAE">ELATINACEAE</option>
                <option value="ERICACEAE">ERICACEAE</option>
                <option value="ERYTHROXYLACEAE">ERYTHROXYLACEAE</option>
                <option value="EUPHORBIACEAE">EUPHORBIACEAE</option>
                <option value="FABACEAE">FABACEAE</option>
                <option value="EHRETIACEAE">EHRETIACEAE</option>
                <option value="FLACOURTIACEAE">FLACOURTIACEAE</option>
                <option value="FUMARIACEAE">FUMARIACEAE</option>
                <option value="GENTIANACEAE">GENTIANACEAE</option>
                <option value="GOODENIACEAE">GOODENIACEAE</option>
                <option value="HALORAGIDACEAE">HALORAGIDACEAE</option>
                <option value="HAMAMELIDACEAE">HAMAMELIDACEAE</option>
                <option value="HELIOTROPIACEAE">HELIOTROPIACEAE</option>
                <option value="GERANIACEAE">GERANIACEAE</option>
                <option value="GESNERIACEAE">GESNERIACEAE</option>
                <option value="HERNANDIACEAE">HERNANDIACEAE</option>
                <option value="HIPPOCRATEACEAE">HIPPOCRATEACEAE</option>
            </select>
        </div>
    </div>
<p>
<!-- #information about dicotyledons -->
Dicotyledons are a class of flowering plants, also known as dicots. They are characterized by having two seed leaves in the embryo. The leaves of dicots have a network of veins, and the flowers are usually in multiples of four or five. Dicots are a diverse group of plants that include trees, shrubs, herbs, and vines. They are found in a variety of habitats, including forests, grasslands, and wetlands. Dicots play an essential role in the ecosystem by providing food and shelter for a variety of animals and by helping to prevent soil erosion. They are also used in traditional medicine and as a source of food and fuel.

</p>
<div id="family1" class="species-list">
    <h3>HEPATOPHYTA</h3>
    <ul>
        <li>Species 1A</li>
        <li>Species 1B</li>
        <li>Species 1C</li>
    </ul>
</div>

<div id="family2" class="species-list">
    <h3>ANTHOCEROPHYTA</h3>
    <ul>
        <li>Species 2A</li>
        <li>Species 2B</li>
        <li>Species 2C</li>
    </ul>
</div>

<div id="family3" class="species-list">
    <h3>BRYOPHYTA</h3>
    <ul>
        <li>Species 3A</li>
        <li>Species 3B</li>
        <li>Species 3C</li>
    </ul>
</div>


{%endblock%}