{%extends 'base_index.html'%}
{%block title%} Herbarium - pterido {%endblock%}
{%load static%}


{%block content %}
    <style>
        .pte-cover {
            background-image: url({% static 'plants/new_images/pter_cover.jpg' %});
        }
    </style>
      <section >
            <div class="sectheader pte-cover">
                <h2>Pteridophytes Section</h2>
            </div>
            
<p>Pteridophytes (ferns and lycophytes) are free-sporing vascular plants that have a life cycle with alternating, free-living gametophyte and sporophyte phases that are independent at maturity. The body of the sporophyte is well differentiated into roots, stem and leaves.
    
</p>        
    <div class="card-container">
        {% for pterido in pterido_items %}
    <div class="card" style="text-align: left;">
        <img src="{{ pterido.image.url }}" alt="{{ pterido.name }}">
        <div class="card-text">
            <h4>Name: {{ pterido.scientific_name }}</h4>
            <h4>Family: {{ pterido.family }}</h4>
            <h4>Locality : {{ pterido.location }}</h4>
            <h4>Collected by : {{ pterido.collector }}</h4>
            <h4>Date : {{ pterido.collection_date }}</h4>
        </div>
    </div>
{% endfor %}
    </div>
{%endblock%}